* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Josefin Sans;
  position: relative;
  background-color: #ffffff;
  background-color: beige;
}

h1 {
  font-size: 3rem;
}

h4 {
  margin: 20px;
}

h3 {
  border-bottom: 2px solid black;
  padding-bottom: 12px;
}

footer {
  background-color: rgb(0, 90, 112);
  margin-top: 31px;
  height: 1.1vw;
  width: 100%;
}

table {
  border: 2px solid black;
  background-color: #dcffee;
  width: 100%;
}
td {
  border: 2px solid black;
  padding: 10px 10px;
  font-size: 1.1rem;
}
img {
  transition: transform 0.2s;
}
ul {
  line-height: 40px;
  margin-left: 20px;
}
/* header section */
.header-container {
  display: flex;
  align-items: center;
  background-color: #b9edf9;
  height: 11vh;
  border-bottom: solid 10px rgb(0, 90, 112);
  margin-bottom: 15px;
}

.header-name,
.header-img {
  margin-left: 25px;
}

.header-logo {
  height: 85px;
  width: auto;
}

.header-title {
  margin-left: auto;
  color: black;
  font-family: Abril Fatface;
  font-stretch: extra-expanded;
  letter-spacing: 10px;
}

.header-nav {
  display: flex;
  font-size: 1.7rem;
  margin-left: auto;
  padding-right: 2.3em;
}

.header-nav a {
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 6px;
  margin-left: 40px;
  color: white;
}

/* main section */
.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  margin-top: 26px;
}

/* sidebare section */
.sidebar-container {
  background-color: aquamarine;
  font-size: 1.13rem;
  text-align: left;
  height: 100%;
  min-height: 76.5vh;
  /* Width has to be defined for flex-shrink to work */
  width: 20%;
  border-radius: 15px;
  padding: 15px;
  overflow-wrap: anywhere;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-shrink: 0;
}

.sidebar-container h3 {
  text-align: center;
  margin-bottom: 20px;
}
.table-flex {
  display: flex;
  flex-direction: row;
}
.table-years {
  text-align: center;
}

/* content selection */
.content-container {
  width: 75%;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  flex-shrink: 1;
}

.content-item {
  background-color: #b9edf9;
  min-height: 35vh;
  height: 48.2%;
  width: 32%;
  font-size: 1rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  flex-direction: column;
  transition: transform 0.2s;
  cursor: pointer;
}

.content-item:hover {
  transform: scale(1.01);
  transition: transform 0.3s;
}

.card-top {
  height: 15%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 1.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  border-bottom: white 4px solid;
}

.cardImage {
  height: 70%;
  /* x (horizontal), y (vertical) */
  background-position: 50% 25%;
  background-size: cover;
}
.cardImage0 {
  background-image: url("https://cdn.pixabay.com/photo/2013/10/02/23/03/mountains-190055_960_720.jpg");
}
.cardImage1 {
  background-image: url("https://pixabay.com/photos/road-forest-fall-path-trail-trees-1072821/");
}
.cardImage2 {
  background-image: url("../images/windmill[JPEG].jpg");
}
.cardImage3 {
  background-image: url("../images/landscape-mobile.jpg");
}
.cardImage4 {
  background-image: url("../images/landscape-mobile.jpg");
}
.cardImage5 {
  background-image: url("../images/landscape-mobile.jpg");
}
.card-bottom {
  height: 15%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: 300;
  justify-content: center;
  font-size: 1.5rem;
}

.content-item1 {
  border: solid 6px white;
  height: 46.8%;
}

@media screen and (max-width: 1330px) {
  .main-section {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
  }
  .content-container {
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
  }
  .content-item {
    width: 47%;
    margin-bottom: 20px;
    justify-content: space-between;
    align-content: space-between;
  }
  .sidebar-container {
    width: 90%;
    height: 100%;
    margin-top: 400px;
  }
  .table-flex {
    flex-direction: column;
  }
  .header-logo {
    height: 70px;
    padding: 5px;
  }
  .header-container {
    flex-direction: column;
    height: 27vh;
  }
  .header-name {
    margin-left: 0;
  }
  .header-title {
    margin-left: 0;
    padding-right: 0;
  }
  .header-nav {
    margin-top: 15px;
    margin-left: 0;
    padding: 0;

    align-items: center;
    font-size: 1.2rem;
  }
  .header-nav a {
    text-decoration: none;
    border-bottom: 3px solid white;
    margin: 15px 10px;
    color: white;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .main-section {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
  }
  .sidebar-container {
    width: 90%;
    height: 100%;
    margin-bottom: 30px;
    margin-top: 1550px;
  }
  .content-container {
    width: 90%;
  }
  .content-item {
    width: 100%;
  }
  .table-flex {
    flex-direction: column;
  }
  .header-logo {
    height: 70px;
    padding: 5px;
  }
  .header-container {
    flex-direction: column;
    height: 27vh;
  }
  .header-name {
    margin-left: 0;
  }
  .header-title {
    margin-left: 0;
    padding-right: 0;
  }
  .header-nav {
    margin-top: 15px;
    margin-left: 0;
    padding: 0;

    align-items: center;
    font-size: 1.2rem;
  }
  .header-nav a {
    text-decoration: none;
    border-bottom: 3px solid white;
    margin: 15px 10px;
    color: white;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 386px) {
  .header-nav {
    margin-top: 12px;
    font-size: 1rem;
  }
  .header-container {
    height: 29vh;
  }
}
